<!DOCTYPE html>
<html lang="en-US">
<head>
    <title><%- title %></title>
    <!--<link href="/css/default.css" rel="stylesheet"/>-->
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/themes/smoothness/jquery-ui.css" rel="stylesheet"/>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/49798184b8.js"></script>
</head>

<style>
    .error {
        color: #e80c4d;
    }
</style>

<body>
<div class="mainWrapper">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand" href="#">Aerial Insights</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Folders</a></li>
                    <li><a href="/Display">Files</a></li>

                </ul>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="jumbotron">
            <%- body %>
        </div>
    </div>

    <!--<footer>-->
    <!--Powered by Node in Azure-->
    <!--</footer>-->
    <div class="container">
        <p class="text-muted">2017 © Copyrights Aerial Insights</p>
    </div>


</div>


</body>
</html>